@charset "UTF-8";
/* montserrat-300 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/montserrat-v25-latin_cyrillic-300.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/montserrat-v25-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/montserrat-v25-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/montserrat-v25-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/montserrat-v25-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-800 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: local(""), url("../fonts/montserrat-v25-latin_cyrillic-800.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-800.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: "Montserrat", Arial, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
}

main {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 100%;
  max-width: 1325px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-header {
  background-color: #0C0537;
}

.header__inner {
  padding: 0px 0 11px 0;
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
}

.logo__img {
  width: 78;
  height: 58px;
}

.navbar {
  padding: 13px 0 0 0;
  width: 100%;
  max-width: 683px;
  margin-left: auto;
}

.navbar__list {
  width: 100%;
  max-width: 683px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.navbar__item__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 121%;
  color: #FFFFFF;
  text-decoration: none;
}

.select {
  font-weight: 700;
}

.navbar__item__link__selected {
  position: relative;
  font-weight: 700;
  color: #FFC94F;
}

.navbar__item__link__selected::after {
  position: absolute;
  width: 22px;
  height: 22px;
  background-image: url(../../images/plus.svg);
  top: -2px;
  right: -35px;
  content: "";
}

.header__email {
  position: relative;
  margin-left: 96px;
  margin-right: 12px;
  padding: 13px 0 0 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 121%;
  color: #FFFFFF;
  text-decoration: none;
}

.header__email::after {
  position: absolute;
  width: 17px;
  height: 17px;
  background-image: url(../../images/email.svg);
  background-repeat: no-repeat;
  top: 12px;
  left: -25px;
  content: "";
}

.header__tel {
  position: relative;
  width: 100%;
  max-width: 214px;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  padding: 13px 13px 13px 59px;
  text-align: center;
  margin-top: 12px;
  text-decoration: none;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 121%;
  color: #FFFFFF;
}

.header__tel::after {
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url(../../images/phone.svg);
  background-repeat: no-repeat;
  top: 13px;
  left: 31px;
  content: "";
}

.burger__btn {
  display: block;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: transparent;
  display: none;
}

.b__line {
  display: block;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 0 10px;
  }
  .header__inner {
    padding: px 0 11px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar {
    display: none;
  }
  .open {
    display: block;
  }
  .header__tel {
    display: none;
  }
  .header__email {
    display: none;
  }
  .burger__btn {
    margin-top: 13px;
    padding: 0;
    display: block;
    border: 0;
  }
  .b__line2 {
    display: block;
    margin-top: 9px;
    margin-bottom: 9px;
  }
}
body {
  background: #FCFCFC;
}

.herohero__inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 149px;
}

.herohero__img__activ {
  display: none;
}

.herohero__title {
  margin: 0;
  margin-bottom: 44px;
  margin-top: 139px;
  width: 100%;
  max-width: 561px;
  font-weight: 800;
  font-size: 36px;
  line-height: 40px;
  color: #535353;
}

.herohero__span {
  color: #FFC94F;
}

.herohero__text {
  width: 100%;
  max-width: 485px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #8C8C8C;
  margin-bottom: 40px;
}

.herohero__link {
  padding: 13px 55px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #535353;
  text-decoration: none;
  background: #FFC94F;
  border-radius: 2px;
}

.herohero__img {
  position: relative;
  width: 722px;
  height: 380px;
}

.herohero__img::before {
  position: absolute;
  left: -60px;
  bottom: -30px;
  width: 1020px;
  height: 69px;
  background-image: url("../images/Скрол.png");
  background-repeat: no-repeat;
  content: "";
}

@media only screen and (max-width: 600px) {
  .herohero__img {
    display: none;
  }
  .herohero__img__activ {
    display: block;
    width: 100%;
    height: 220px;
  }
  .herohero__inner {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    margin-bottom: 44px;
  }
  .herohero__title {
    margin: 0;
    margin-bottom: 11px;
    margin-top: 90px;
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
  }
  .herohero__span {
    color: #FFC94F;
  }
  .herohero__text {
    width: 100%;
    max-width: 600px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 31px;
  }
  .herohero__link {
    padding: 13px 55px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
  }
  .herohero__img::before {
    width: 0px;
    height: 0px;
    background-image: url("");
  }
}
.catalog__span {
  display: inline-block;
  width: 5px;
  height: 25px;
  background: #FFC94F;
  margin-right: 10px;
}

.catalog__title {
  margin: 0;
  display: inline-block;
  font-weight: 800;
  font-size: 30px;
  line-height: 133%;
  color: #535353;
  margin-bottom: 64px;
}

.catalog__inner {
  display: flex;
  justify-content: space-between;
}

.catalog__inner__subtitle {
  margin-top: 25px;
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  color: #FFC94F;
  margin-bottom: 25px;
}

.catalog__inner__text {
  width: 100%;
  max-width: 287px;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #8C8C8C;
  margin-bottom: 25px;
}

.catalog__inner__link {
  width: 100%;
  max-width: 280px;
  background: #3D4F64;
  border-radius: 2px;
  padding: 13px 69px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin-bottom: 21px;
  text-decoration: none;
}

.catalog__inner__list {
  width: 100%;
  max-width: 287px;
}

.catalog__inner__item {
  font-weight: 700;
  font-size: 14px;
  line-height: 157%;
  color: #535353;
  padding: 24px 0;
  border-bottom: 2px solid #EFEFEF;
}
.catalog__inner__item:nth-child(4) {
  border-bottom: none;
  margin-bottom: 0;
}

.catalog__blog__img {
  margin: 0;
}

.catalog__img {
  margin: 0;
  width: 100%;
  max-width: 960px;
}

@media only screen and (max-width: 600px) {
  .catalog__span {
    display: none;
  }
  .catalog__title {
    font-weight: 800;
    font-size: 18px;
    line-height: 40px;
    margin-bottom: 15px;
  }
  .catalog__inner {
    display: flex;
    flex-direction: column;
  }
  .catalog__inner__blockss {
    padding-left: 15px;
  }
  .catalog__inner__subtitle {
    margin: 0;
    padding-bottom: 16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
  }
  .catalog__inner__text {
    display: none;
  }
  .catalog__inner__link {
    display: none;
  }
  .catalog__inner__list {
    width: 100%;
    max-width: 600px;
  }
  .catalog__inner__item {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    padding: 16px 0;
    border-bottom: 2px solid #EFEFEF;
  }
  .catalog__inner__item:nth-child(4) {
    border-bottom: none;
    margin-bottom: 0;
  }
  .catalog__blog__img {
    display: none;
  }
  .catalog__img {
    display: none;
  }
}
.uclugiy__span {
  width: 5px;
  height: 25px;
  color: #F3A800;
}

.ucligi__inner__title {
  font-weight: 800;
  font-size: 30px;
  line-height: 133%;
  color: #535353;
  margin-bottom: 61px;
}

.uslugiy__inner__content {
  display: flex;
  justify-content: space-between;
}

.uclugi__svg {
  width: 42px;
  height: 42px;
}

.uclugiy__inner__detailes {
  width: 100%;
  max-width: 1150px;
  border-bottom: 2px solid #E5E5E5;
}

.uclugiy__inner__summari {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.uclugiy__inner__det__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 250%;
  color: #535353;
}

.uclugiy__inner__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #A6A6A6;
  width: 100%;
  max-width: 1014px;
}

@media only screen and (max-width: 600px) {
  .uclugiy__span {
    display: none;
  }
  .ucligi__inner__title {
    font-weight: 800;
    font-size: 18px;
    line-height: 40px;
    margin-bottom: 19px;
  }
  .uslugiy__inner__content {
    display: flex;
    justify-content: space-between;
  }
  .uclugi__svg {
    width: 42px;
    height: 42px;
  }
  .uclugiy__inner__detailes {
    width: 100%;
    max-width: 500px;
    border-bottom: 2px solid #E5E5E5;
    margin-bottom: 20px;
  }
  .uclugiy__inner__summari {
    list-style-type: none;
  }
  .uclugiy__summariy__svg {
    display: none;
  }
  .uclugiy__inner__det__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
  }
  .uclugiy__inner__text {
    display: none;
  }
}
.novinci__inner__span {
  display: inline-block;
  width: 5px;
  height: 25px;
  background: #FFC94F;
  margin-right: 10px;
}

.novinci__inner__title {
  display: inline-block;
  font-weight: 800;
  font-size: 30px;
  line-height: 133%;
  color: #535353;
  margin-bottom: 43px;
}

.novinci__inner__list {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 82px;
}

.novinci__inner__item {
  width: 100%;
  max-width: 304px;
  background-color: #FFFFFF;
}

.novinci__inner__item-activ {
  display: none;
}

.novinci__inner__item__span {
  width: 50px;
  display: block;
  background: #FFC94F;
  border-radius: 0px 0px 2px 0px;
  padding: 3px 13px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #3D4F64;
  margin-bottom: 88px;
}

.novinci__inner__item__spanchik {
  margin-bottom: 23px;
}

.novinci__inner__item__img {
  width: 256px;
  height: 96px;
  margin: 0 19px;
  margin-bottom: 64px;
}

.novinci__inner__item__img__activ {
  margin: 0 86px 44px 96px;
  width: 128px;
  height: 181px;
}

.novinci__inner__subtitle {
  padding: 0 17px 0 21px;
  margin-bottom: 13px;
  font-weight: 700;
  font-size: 14px;
  line-height: 157%;
  color: #535353;
}

.novinci__inner__blog {
  padding: 0 17px 0 21px;
  display: flex;
  align-items: center;
}

.novinci__inner__blog__span {
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #FFC94F;
  border-radius: 3px;
  margin-right: 6px;
  margin-bottom: 10px;
}

.novinci__inner__blog__text {
  width: 100%;
  max-width: 247px;
  display: inline-block;
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  color: #8C8C8C;
  margin-bottom: 10px;
}

.novinci__inner__blog__spanjon {
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  line-height: 105%;
  color: #535353;
  margin-left: 21px;
  margin-bottom: 60px;
}

.novinci__inner__blog-sp {
  font-weight: 700;
  font-size: 20px;
  line-height: 105%;
  color: #F3C650;
}

.novinci__inner__blog__link {
  border: 1px solid #EAEAEA;
  display: flex;
  align-items: center;
}

.novinci__inner__link {
  margin-right: 30px;
  text-decoration: none;
  padding: 15px 75px;
  background: #3D4F64;
  border-radius: 0px 0px 0px 2px;
  font-weight: 600;
  font-size: 14px;
  line-height: 45px;
  color: #FFFFFF;
}

.novinci__inner__link__activ {
  background: #EFEFEF;
}

.novinci__inner__blocks {
  text-align: center;
  margin-bottom: 80px;
}

.novinci__inner__blocks__link {
  text-decoration: none;
  width: 214px;
  padding: 13px 36px;
  background: #F3C650;
  border-radius: 2px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #535353;
}

@media only screen and (max-width: 600px) {
  .novinci__inner__span {
    display: none;
  }
  .novinci__inner__title {
    font-weight: 800;
    font-size: 18px;
    line-height: 222%;
    color: #535353;
    margin-bottom: 16px;
  }
  .novinci__inner__list {
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  .novinci__inner__item {
    width: 100%;
    max-width: 285px;
    margin-bottom: 10px;
  }
  .novinci__inner__item-deactiv {
    display: none;
  }
  .novinci__inner__item-activ {
    display: inline-block;
  }
  .novinci__inner__item__span {
    width: 36px;
    display: block;
    background: #FFC94F;
    border-radius: 0px 0px 2px 0px;
    padding: 2px 9px;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #3D4F64;
    margin-bottom: 82px;
  }
  .novinci__inner__item__spanchik {
    margin-bottom: 16px;
  }
  .novinci__inner__item__img {
    width: 256px;
    height: 96px;
    margin: 0 19px;
    margin-bottom: 64px;
  }
  .novinci__inner__item__img__activ {
    margin: 0 86px 44px 96px;
    width: 128px;
    height: 181px;
  }
  .novinci__inner__subtitle {
    padding: 0 17px 0 21px;
    margin-bottom: 13px;
    font-weight: 500;
    font-size: 11px;
    line-height: 164%;
  }
  .novinci__inner__blog {
    display: none;
  }
  .novinci__inner__blog__span {
    display: inline-block;
    width: 6px;
    height: 6px;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #535353;
  }
  .novinci__inner__blog__text {
    width: 100%;
    max-width: 247px;
    display: inline-block;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    color: #8C8C8C;
    margin-bottom: 10px;
  }
  .novinci__inner__blog__spanjon {
    display: inline-block;
    font-weight: 700;
    font-size: 20px;
    line-height: 105%;
    color: #535353;
    margin-left: 21px;
    margin-bottom: 60px;
  }
  .novinci__inner__blog-sp {
    font-weight: 700;
    font-size: 20px;
    line-height: 105%;
    color: #535353;
  }
  .novinci__inner__blog__link {
    border: 1px solid #EAEAEA;
    display: flex;
    align-items: center;
  }
  .novinci__inner__link {
    margin-right: 30px;
    text-decoration: none;
    padding: 10px 75px;
    background: #3D4F64;
    border-radius: 0px 0px 0px 2px;
    font-weight: 600;
    font-size: 12px;
    line-height: 45px;
    color: #FFFFFF;
  }
  .novinci__inner__link__activ {
    background-color: #FFFFFF;
  }
  .novinci__inner__blocks {
    text-align: center;
    margin-bottom: 40px;
  }
  .novinci__inner__blocks__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
  }
}
.about__service {
  background-image: url("../images/ikon_1.png"), url("../images/ikon_2.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 130px 130px, 98px 98px;
  background-position: calc(50% - 520px) calc(50% + 523px), calc(50% - 640px) calc(50% + 230px);
}

.about__service__inner {
  display: flex;
}

.about__service__title {
  width: 100%;
  max-width: 279px;
  font-weight: 800;
  font-size: 20px;
  line-height: 120%;
  color: #505050;
  margin-right: 45px;
}

.about__service__blocks {
  width: 996px;
  height: 154px;
  overflow-y: scroll;
  padding: 30px 30px;
  margin-bottom: 103px;
}

.about__service__inner__list {
  width: 100%;
  max-width: 984px;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.about__service__inner__item {
  width: 100%;
  max-width: 896px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: 2px solid #EFEFEF;
}

.about__service__item__tit {
  display: inline-block;
  width: 100%;
  max-width: 219px;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  color: #505050;
  margin-right: 420px;
}

.about__servive__strong {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 45px;
  color: #505050;
  margin-right: 20px;
}

.about__servive__strong__activ {
  color: #F3A800;
}

.about__service__span {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 321%;
  color: #656565;
  margin-right: 13px;
}

.about__servive__svg {
  display: inline-block;
}

.about__servivce__item__blocks {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 217px;
}

.about__service__content {
  display: flex;
}

.about__service__content__title {
  width: 100%;
  max-width: 522px;
  margin-left: 150px;
  font-weight: 800;
  font-size: 24px;
  line-height: 142%;
  color: #535353;
}

.about__service__content__inner {
  width: 100%;
  max-width: 357px;
  margin-bottom: 17px;
}

.about__service__content__lable {
  display: inline-block;
  width: 100%;
  max-width: 357px;
  border-bottom: 1px solid #EFEFEF;
  padding: 10px 0;
}

.about__service__content__input {
  background-color: #FCFCFC;
  display: inline-block;
  border: none;
  outline: none;
  margin-bottom: 10px;
}

.about__service__content__lable {
  list-style: none;
  outline: none;
  border: none;
  background-color: #FCFCFC;
  border-bottom: 1px solid #EFEFEF;
  margin-bottom: 30px;
}

.about__service__content__butten {
  margin-left: 140px;
  padding: 13px 66px;
  width: 100%;
  max-width: 214px;
  background: #FFC94F;
  border-radius: 2px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #464855;
  border: none;
}

@media only screen and (max-width: 600px) {
  .about__service {
    background-image: url(""), url("");
  }
  .about__service__inner {
    display: flex;
    flex-direction: column;
  }
  .about__service__title {
    width: 100%;
    max-width: 600px;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    margin-right: 0px;
    margin-bottom: 40px;
  }
  .about__service__blocks {
    width: 100%;
    max-width: 600px;
    height: 154px;
    overflow-y: scroll;
    padding: 0px 10px 0px 0px;
    margin-bottom: 103px;
  }
  .about__service__inner__list {
    width: 100%;
    max-width: 600px;
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
  .about__service__inner__item {
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: 2px solid #EFEFEF;
  }
  .about__service__item__tit {
    display: inline-block;
    width: 100%;
    max-width: 500px;
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    color: #505050;
    margin-right: 0px;
  }
  .service__item__tit {
    color: #FFC94F;
  }
  .about__servive__strong {
    display: none;
  }
  .about__servive__strong__activ {
    display: none;
    color: #F3A800;
  }
  .about__service__span {
    display: none;
  }
  .about__servive__svg {
    margin-left: auto;
    display: inline-block;
  }
  .about__servivce__item__blocks {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 217px;
  }
  .about__service__content {
    display: flex;
    flex-direction: column;
  }
  .about__service__content__title {
    width: 100%;
    max-width: 600px;
    margin-left: 0px;
    font-weight: 800;
    font-size: 18px;
    line-height: 30px;
  }
  .about__service__content__inner {
    width: 100%;
    max-width: 600px;
    margin-bottom: 17px;
  }
  .about__service__content__lable {
    width: 100%;
    max-width: 600px;
  }
  .about__service__content__butten {
    margin: 0;
    max-width: 600px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    border: none;
  }
}
.site-footer {
  background-color: #3D4F64;
}

.footer__inner {
  padding-top: 41px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.technolight {
  font-weight: 500;
  font-size: 11px;
  line-height: 164%;
  color: #FFFFFF;
}

.box__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.box__item {
  padding: 0;
}

.box__title {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 214%;
  color: #FFFFFF;
}

.box-link {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  text-decoration: none;
}

.box-link--first {
  text-decoration: underline;
  color: #FFC94F;
}

.box__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 214%;
  color: #FFFFFF;
}

.box__tel {
  position: relative;
}

.box__tel::before {
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url(../../images/phone.svg);
  background-repeat: no-repeat;
  top: 0px;
  left: -20px;
  content: "";
}

.box__email {
  position: relative;
}

.box__email::before {
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url(../../images/email.svg);
  background-repeat: no-repeat;
  top: 0px;
  left: -20px;
  content: "";
}

.box__loc {
  position: relative;
}

.box__loc::before {
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url(../../images/Пин.svg);
  background-repeat: no-repeat;
  background-size: 25px 25px;
  top: 0px;
  left: -25px;
  content: "";
}

@media only screen and (max-width: 600px) {
  .site-footer {
    background-color: #3D4F64;
  }
  .footer__inner {
    padding-top: 19px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .box-1 {
    width: 300px;
  }
  .technolight {
    font-weight: 500;
    font-size: 11px;
    line-height: 164%;
    color: #FFFFFF;
  }
  .box-2 {
    margin-bottom: 24px;
  }
  .box__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .box__list__contacts {
    margin-left: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .box__item {
    padding: 0;
    width: 100%;
    max-width: 160px;
  }
  .box__title {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 214%;
    color: #FFFFFF;
  }
  .box-link {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
    text-decoration: none;
  }
  .box-link--first {
    text-decoration: underline;
    color: #FFC94F;
  }
  .box__link {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 214%;
    color: #FFFFFF;
  }
  .box__tel {
    width: 100%;
    max-width: 140px;
    position: relative;
  }
  .box__tel::before {
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url(../../images/phone.svg);
    background-repeat: no-repeat;
    top: 5px;
    left: -20px;
    content: "";
  }
  .box__email {
    width: 100%;
    max-width: 140px;
    position: relative;
  }
  .box__email::before {
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url(../../images/email.svg);
    background-repeat: no-repeat;
    top: 5px;
    left: -20px;
    content: "";
  }
  .box__loc {
    width: 100%;
    max-width: 140px;
    position: relative;
  }
  .box__loc::before {
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url(../../images/Пин.svg);
    background-repeat: no-repeat;
    background-size: 25px 25px;
    top: 5px;
    left: -25px;
    content: "";
  }
}/*# sourceMappingURL=main.css.map */