.site-header {
    background-color: #0C0537;
}

.header__inner {
    padding: 0px 0 11px 0;
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;

}
.logo__img{
    width: 78;
    height: 58px;
}

.navbar {
    padding: 13px 0 0 0;
    width: 100%;
    max-width: 683px;
    margin-left: auto;
}

.navbar__list {
    width: 100%;
    max-width: 683px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    list-style-type: none;
    padding: 0;
}

.navbar__item__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 121%;
    color: #FFFFFF;
    text-decoration: none;
}

.select {
    font-weight: 700;
}

.navbar__item__link__selected {
    position: relative;
    font-weight: 700;
    color: #FFC94F;
}

.navbar__item__link__selected::after {
    position: absolute;
    width: 22px;
    height: 22px;
    background-image: url(../../images/plus.svg);
    top: -2px;
    right: -35px;
    content: "";
}

.header__email {
    position: relative;
    margin-left: 96px;
    margin-right: 12px;
    padding: 13px 0 0 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 121%;
    color: #FFFFFF;
    text-decoration: none;

}

.header__email::after {
    position: absolute;
    width: 17px;
    height: 17px;
    background-image: url(../../images/email.svg);
    background-repeat: no-repeat;
    top: 12px;
    left: -25px;
    content: "";
}

.header__tel {
    position: relative;
    width: 100%;
    max-width: 214px;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    padding: 13px 13px 13px 59px;
    text-align: center;
    margin-top: 12px;
    text-decoration: none;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 121%;
    color: #FFFFFF;
}

.header__tel::after {
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url(../../images/phone.svg);
    background-repeat: no-repeat;
    top: 13px;
    left: 31px;
    content: "";
}
.burger__btn{
    display: block;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: transparent;
    display: none;
}
.b__line{
    display: block;
   
}


@media only screen and (max-width: 600px){
    .container{
        padding: 0 10px;
    }
    .header__inner{
        padding: px 0 11px 0;
        display: flex;
        align-items: center;
        justify-content: space-between  ;
    }

    .navbar{
        display: none;
    }
    .open  {
        display: block;
    }
   
    .header__tel{
        display: none;
    }
    .header__email{
        display: none;
    }
    .burger__btn{
        margin-top: 13px;
        padding: 0;
        display: block;
        border: 0;
        
    }
    .b__line2{
        display: block;
        margin-top: 9px;
        margin-bottom: 9px;
        

    }
}