 
 
 body{ 
    background: #FCFCFC;

 }
 
 .herohero__inner{ 
 display: flex; 
 justify-content: space-between; 
 margin-bottom: 149px;
  
}    
.herohero__img__activ{ 

    display: none;
}

.herohero__title{ 
    
    margin: 0; 
    margin-bottom: 44px; 
    margin-top: 139px;
    width: 100%; 
    max-width: 561px; 
    font-weight: 800;
    font-size: 36px;
    line-height: 40px; 
    color:#535353;
} 
.herohero__span{ 

    color: #FFC94F;
} 
.herohero__text{ 

    width: 100%; 
    max-width: 485px; 
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #8C8C8C; 
    margin-bottom: 40px;
} 
.herohero__link{  
    padding: 13px 55px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #535353;
    text-decoration: none; 
    background: #FFC94F;
    border-radius: 2px;
} 
.herohero__img{ 
  position: relative;
    width: 722px; 
    height:380px;
} 
.herohero__img::before{   
    position: absolute;   
    left: -60px;
    bottom: -30px;
    width: 1020px; 
    height: 69px;
    background-image:url("../images/Скрол.png"); 
    background-repeat: no-repeat; 
    content: '';
} 

@media only screen and (max-width:600px){ 
     
    .herohero__img{ 

        display: none;
    } 
    .herohero__img__activ{ 
        display: block;
        width: 100%; 
        height: 220px;
    }
    .herohero__inner{ 
        display: flex; 
        flex-direction: column;  
        flex-direction: column-reverse;
        margin-bottom: 44px;
         
       }   
       
       .herohero__title{ 
           
           margin: 0; 
           margin-bottom: 11px; 
           margin-top: 90px; 
           font-weight: 800;
           font-size: 24px;
           line-height: 32px;
           
       } 
       .herohero__span{ 
       
           color: #FFC94F;
       } 
       .herohero__text{ 
       
           width: 100%; 
           max-width: 600px; 
           font-weight: 400;
           font-size: 14px;
           line-height: 22px;
           margin-bottom: 31px;
       } 
       .herohero__link{  
           padding: 13px 55px;
           font-weight: 700;
           font-size: 14px;
           line-height: 17px;
       } 
      
       .herohero__img::before{   
           width: 0px; 
           height: 0px;
           background-image:url(""); 
           
       } 

}
